<%= stylesheet_link_tag "style", media: "all" %>
<ul id="nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <li><%= link_to 'View locations', locations_path %></li>
    <li><%= link_to "Add location", new_location_path %></li>
</ul>



<!--<%= image_tag 'background.webp', alt: 'Logo', class: 'background' %>-->
<div class="overlay"></div>
<div class="overlay-text">
<h1>Find Free Period Products Near You</h1>
<p>Our mission is to make period products accessible by connecting people in need to local resources. Free Period Products is a crowdsourced database where users can find locations offering free period products in their area. By using the "Locations" tab, you can easily search for nearby places that provide free pads, tampons, and other menstrual supplies. Help us grow this essential resource by adding new locations through the "Add Location" tab. Together, we can ensure that no one has to miss school, work, or other important activities due to a lack of period products.</p>
</div>