<%= stylesheet_link_tag "style", media: "all" %>
<ul id="nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <li><%= link_to 'View locations', locations_path %></li>
    <li><%= link_to "Add location", new_location_path %></li>
</ul>



<%= image_tag 'city.jpg', class: 'background' %>
<div class="overlay"></div>
<div class="content">
    <%= image_tag 'google_maps_image.jpg', class: 'google_maps_image' %>
    <div class="homepage_text">
        <h1>Find Free Period Products Near You</h1>
        <p>Search for locations that provide free period products in your area.</p>
        <div id = "search-form">
        <%= form_with url: locations_path, method: :get do |form| %>
        <%=form.text_field :place, value: params[:place], placeholder: "Input location to search for products nearby!", class:"address_input"%>
        <%=form.submit "", id:"submit_location" %>
        <%=image_tag("search.png")%>
        <% end %>
</div>
</div>
