<%= form_with(model: location) do |form| %>
  <%= invisible_captcha %>
  <% if location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, placeholder: "ex. Greenburg Library"  %>
  </div>

  <div>
    <%= form.label :street, style: "display: block" %>
    <%= form.text_field :street, placeholder: "ex. 1465 Concert Way" %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city, placeholder: "ex. Greenburg" %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state, placeholder: "ex. Kansas" %>
  </div>

  <div>
  <%= form.label :country, style: "display: block"  %>
  <%= form.text_field :country, placeholder: "ex. United States" %>
</div>

  <div>
    <%= form.label :directions, style: "display: block" %>
    <%= form.text_field :directions, placeholder: "ex. In all restrooms" %>
  </div>


 

  <div id="submit">
  <%=form.submit "Submit"%>
  
    
  </div>
<% end %>
