<div id="<%= dom_id location %>" >
  <p class = "name">
    <%= location.name %>
  </p>

  <p class = "address">
    <%= location.street %>  <%= location.city %>, <%= location.state %>, <%= location.country %>
  </p>

  <p class = "directions">
    <strong>Directions:</strong>
    <%= location.directions %>
  </p>

  
<p class = "distance">
  <% if params[:place].present? %>
  <%= location.distance_from(params[:place]).round(2) %> miles
<% end %>

  </p>
  


</div>


