<%= stylesheet_link_tag "style", media: "all" %>
<%= stylesheet_link_tag "locations", media: "all" %>
<%= stylesheet_link_tag "form-style", media: "all" %>

<style>
  nav.pagy a{
    font-size:20px;
    margin:2px;
    text-decoration:none;
  }
</style>
<ul id="nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <li><%= link_to 'View locations', locations_path %></li>
</ul>



<div class="main">
<div id = "search-form">
<%= form_with url: locations_path, method: :get do |form| %>
  <%=form.text_field :place, value: params[:place], placeholder: "Input location to search for products nearby!", class:"address_input"%>
  <%=form.submit "", id:"submit_location" %>
  <%=image_tag("search.png")%>
  <% end %>
</div>
<div id="locations">
  <% @locations.each do |location| %>
    <div class="location">
    <%= render location %>
    <p>
      <!--<%= link_to "Show this listing", location %>-->
    </p>
    <%= image_tag 'blood.png', class: 'blood-graphic' %>
    <p class = "distance">
      <% if params[:place].present? %>
      <%= location.distance.round(2) %> miles
    <% end %>

    
 


    </div>

  <% end %>
</div>

<%= link_to "New location", new_location_path %>
<!-- Pagy navigation bar -->
<%== pagy_nav(@pagy) %>


</div>
