<%= stylesheet_link_tag "locations", media: "all" %>
<style>


</style>
<p style="color: green"><%= notice %></p>



<%= render @location %>
</div>
<div id="map-container">
  <div id="location-info"
    data-latitude="<%= @location.latitude %>"
    data-longitude="<%= @location.longitude %>">
  </div>
 
</div>


<div>
  <!-- <%= link_to "Edit this location", edit_location_path(@location) %> |-->
  <%= link_to "Back to locations", locations_path %>
 
 <!-- <%= button_to "Destroy this location", @location, method: :delete %>-->
</div>


